@include font-face('#{$font_1}', '/assets/fonts/SourceSansPro-Regular');
@include font-face('#{$font_2}', '/assets/fonts/SourceSansPro-Bold', bold);

* {
  @include box-sizing(border-box);
}

html{
  overflow:hidden;
}
body {
  font-family: 'SourceSansPro';
  background-color: $color_1;
  color: $color_3;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, ul, ol{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

[class*="content"]{
  position: fixed;
  top: 44px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: $color_2;
}