

.content-calculate{

  /**********************************
    wrapper
  **********************************/

  .content-wrapper{
    @include size(100%);
    background-color: $color_4;
    position: relative;
  }

  /**********************************
    vertical-button-bar
  **********************************/


  .button-list{

    @include position(absolute, em(0) em(0) em(0) em(0));

    li{
      @include size(100% 34%);

      &:first-child{
        .button{
          border-bottom: solid em(1) $color_1
        }
      }

      &:last-child{
        @include size(100% 32%);
      }
    }
  }

  .button{
    display: table;
    @include size(100%);
    background-color: $color_2;
    cursor: pointer;
  }

  .button-calculate{
    background-color: $color_1;
    position: relative;

    &:after{
      position: absolute;
      bottom: 100%;
      border: solid transparent;
      content: " ";
      @include size(0);
      border-bottom-color: $color_1;
      left: 50%;

      $arrow-size: 32;
      $arrow-size-small: 17;
      border-width: em($arrow-size);
      margin-left: em($arrow-size * -1);

      @include respond-to(small){
        border-width: em($arrow-size-small);
        margin-left: em($arrow-size-small * -1);
      }
    }
  }

  .button-content-wrapper{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .button-content-container{
    display: inline-block;
    text-align: left;
  }

  .date-label,
  .date-txt{
    padding: 0;
    font-family: $font_1;
    color: $color_4;
  }


  .date-label{
    $font-size-label: 35;
    $font-size-label-small: 19;
    font-size: em($font-size-label);
    @include respond-to(small){
      font-size: em($font-size-label-small);
    }
  }

  $font-size-date: 95;
  $font-size-date-small: 55;

  .date-txt{
    font-size: em($font-size-date);

    @include respond-to(small){
      font-size: em($font-size-date-small);
    }
  }


  .icon-sort{
    color: $color_4;

    $icon-size: 80;
    $icon-size-small: 40;
    font-size: em($icon-size, $font-size-date);
    @include respond-to(small){
      font-size: em($icon-size-small, $font-size-date-small);
    }
  }

  .label-calculate{
    color: $color_2;
    font-family: $font_1;

    font-size: em(110);

    @include respond-to(small){
      font-size: em(60);
    }
  }

}
