.content-info{
  background-color: $color_1;
  padding: em(50) em(30);

  font-family: $font_1;
  color: $color_3;

  .subheadline{
    font-weight: normal;
    font-size: em(45);
    padding-bottom: em(15);
  }

  p{
    font-size: em(30);
  }
}