.content-info{
  background-color: $color_1;
  padding: em(30) em(30);

  font-family: $font_1;
  color: $color_3;

  .subheadline{
    font-weight: normal;
    $font-size: 20;
    font-size: em($font-size);
    padding-bottom: em(10, $font-size);
  }

  p{
    font-size: em(15);
  }
}