.navbar{

  $icon-size: em(20);
  $navbar-height: 44;
  @include size(100% $navbar-height);
  z-index: 10;

  position: fixed;

  $navbar-padding: em(5);
  background-color: $color_1;

  border-bottom: solid 1px $color_3;

  .title{
    @include position(absolute, 0 em(30) 0 em(30));
    font-family: $font_1;
    $font-size: 20;
    font-size: em($font-size);
    line-height: em($navbar-height, $font-size);
    text-align: center;
    color: $color_3;
  }

  .icon{
    color: $color_3;
    @include size($navbar-height);
    cursor: pointer;

    i{
      $icon-height: 22;
      font-size: em($icon-height);
      display: inline-block;
      @include size($navbar-height);
      line-height: em($navbar-height, $icon-height);
      text-align: center;
    }

    &:first-child{
      @include position(absolute, em(0) 0 0 em(0));
    }

    &:last-child{
      @include position(absolute, em(0) em(0) 0 0);
    }

  }

}

