.content-result{
  background-color: $color_1;


  .wrapper{
    @include size(100%);
    background-color: $color_4;
    position: relative;
  }

  $dates-container-height: 65;
  $labels-container-height: 75;
  $chart-container-padding: 15;

  .dates-wrapper{
    padding: em(0) em($chart-container-padding);
    background-color: $color_2;
    display: table;
    @include size(100% em($dates-container-height));
    @include position(absolute, em(0) em(0) em($dates-container-height) em(0));
  }

  .dates-container{
    display: table-cell;
    vertical-align: middle;
    @include clearfix;
  }

  .date-container{
    width: 50%;
    font-family: $font_1;
    color: $color_4;
    float: left;

    &:last-child{
      p{
        text-align: right;
      }
    }

    .label-date{
      font-size: em(13);
    }

    $font-size-date: 27;
    .date{
      font-size: em($font-size-date);
    }

    .icon-sort{
      font-size: em(20, $font-size-date);
    }
  }

  .result-list{
    @include position(absolute, em($dates-container-height) em(0) em(0) em(0));
  }

  .result-list-item{
    @include size(100% 33%);

    &:last-child{
      @include size(100% 34%);
    }
  }

  .result-list-item-years{
      background-color: $color_8;
    .result-container{
      background-color: $color_9;
    }
  }

  .result-list-item-months{
    background-color: $color_7;
    .result-container{
      background-color: $color_10;
    }
  }

  .result-list-item-days{
    background-color: $color_6;
    .result-container{
      background-color: $color_11;
    }
  }

  $padding-left-result: 20;

  .result-wrapper{
    display: table;
    @include size(100%);
    padding-left: em($padding-left-result);
  }
  .result-container{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .result-txt{
    $font-size: 100;
    font-size: em($font-size);
    font-family: $font_1;
    color: $color_2;
    padding-right: em($padding-left-result, $font-size);
  }

  .result-label{
    $font-size: 27;
    font-size: em($font-size);
    margin-top: em(-20, $font-size);
    padding-right: em($padding-left-result, $font-size);
    font-family: $font_1;
    color: $color_2;
  }

  .total-view{
    @include position(absolute, em($dates-container-height) em(0) em(0) em(0));
    @include transform(translate3d(-100%,0,0));
    @include transition-property (transform);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);

  }

  .total-view-active{
      @include transform(translate3d(0,0,0));
    }

  .total-view-years{
    background-color: $color_8;
  }

  .total-view-months{
    background-color: $color_7;
  }

  .total-view-days{
    background-color: $color_6;
  }

  .total-result-container{
    display: table;
    @include size(100%);
  }

  .total-result{
    display: table-cell;
    vertical-align: middle;
    color: $color_4;
    $font-size-total: 150;
    $font-size-label: 30;
    // add padding to center vertical exactly
    padding-bottom: em($font-size-label, $font-size-total);
    padding-left: em(20, $font-size-total);
    font-size: em($font-size-total);
    font-family: $font_1;

    span{
      display: block;
      font-size: em($font-size-label, $font-size-total);
      margin-top: em(-1*$font-size-label, $font-size-label);
    }
  }

  .total-label{

  }

}
