.content-settings{
  background-color: $color_1;
  padding: em(30) em(30);

  .subheadline{
    font-family: $font_1;
    font-weight: normal;
    font-size: em(21);
    color: $color_3;
    padding-bottom: em(15);
  }

  .button-wrapper{
    width: 100%;
    @include clearfix;
  }

  .button{
    display: block;
    $height: 100;
    $font-size: 30;
    width: 100%;
    //@include size(100% em($height));
    line-height: em($height, $font-size);
    font-family: $font_1;
    font-size: em($font-size);
    text-align: center;
    color: $color_3;
    background-color: $color_1;
    border: solid em(1, $font-size) $color_3;
    padding-right: em(45, $font-size);

    &.active{
      border: solid em(1, $font-size) $color_3;
      background-color: $color_3;
      color: $color_4;
    }

    .icon-ok{
      color: $color_1;
      padding-right: em(5);
      &.active{
        color: $color_4;
      }
    }
  }

}

