<ion-view view-title="Calculate">

  <ion-nav-buttons side="left">
    <button class="button button-clear ion-ios-information-outline"
            ng-click="calculatePageCtrl.clickNavBarLeft()">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear ion-ios-gear-outline"
        ng-click="calculatePageCtrl.clickNavBarRight()"></button>
  </ion-nav-buttons>

  <ion-content>
    <h1>Calculate</h1>
    <a href="/#/result">result</a>
  </ion-content>

</ion-view>
