<ion-view view-title="{{'calculate.TITLE' | translate}}">

  <ion-nav-buttons side="left">
    <button class="button button-clear ion-ios-information-outline"
            ng-click="calculatePageCtrl.clickNavBarLeft()">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear ion-ios-gear-outline"
        ng-click="calculatePageCtrl.clickNavBarRight()"></button>
  </ion-nav-buttons>

  <ion-content scroll="false" class="content-calculate">
        <ul class="button-list">
          <li>
            <a class="button" ng-click="calculatePageCtrl.changeStartDate($event)">
              <div class="button-content-wrapper">
                <div class="button-content-container">
                  <p class="date-label" translate="common.START_DATE"></p>
                  <p class="date-txt">
                    <!--<span ng-bind="dateModel.start | formatdate:dateFormat()"></span>-->
                    <i class="icon-sort"></i>
                  </p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="button" ng-click="calculatePageCtrl.changeEndDate($event)">
              <div class="button-content-wrapper">
                <div class="button-content-container">
                  <p class="date-label" translate="common.END_DATE"></p>
                  <p class="date-txt">
                    <!--<span ng-bind="dateModel.end | formatdate:dateFormat()"></span>-->
                    <i class="icon-sort"></i>
                  </p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="button button-calculate"
               href="/#/result"
                >
               <!--ng-click="showResult()"-->
              <div class="button-content-wrapper">
                <div class="button-content-container">
                  <p class="label-calculate" translate="calculate.LABEL_BUTTON"></p>
                </div>
              </div>
            </a>
          </li>
        </ul>

  </ion-content>

</ion-view>
