<header class="navbar">
  <a class="icon" ng-click="showInfo()"><i class="icon-info"></i></a>
  <h1 class="title" ng-i18next="calculate.TITLE"></h1>
  <a class="icon" ng-click="showSettings()"><i class="icon-cog"></i></a>
</header>
<div class="content content-calculate">
  <div class="content-wrapper">
    <ul class="button-list">
      <li>
        <a class="button" ng-click="changeStartDate($event)">
          <div class="button-content-wrapper">
            <div class="button-content-container">
              <p class="date-label" ng-i18next="common.START_DATE"></p>
              <p class="date-txt">
                <span ng-bind="dateModel.start | translatedate"></span>
                <i class="icon-sort"></i>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="button" ng-click="changeEndDate($event)">
          <div class="button-content-wrapper">
            <div class="button-content-container">
              <p class="date-label" ng-i18next="common.END_DATE"></p>
              <p class="date-txt">
                <span ng-bind="dateModel.end | translatedate"></span>
                <i class="icon-sort"></i>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="button button-calculate"
           ng-click="showResult()"
            >
          <div class="button-content-wrapper">
            <div class="button-content-container">
              <p class="label-calculate" ng-i18next="calculate.LABEL_BUTTON"></p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
