<header class="navbar">
  <a class="icon" ng-click="showInfo()"><i class="icon-info"></i></a>
  <h1 class="title" translate="calculate.TITLE"></h1>
  <a class="icon" ng-click="showSettings()"><i class="icon-cog"></i></a>
</header>
<div class="content-calculate">
  <ul>
    <li>
      <a class="button">
        <div class="label-container">
          <div class="label-wrapper">
            <p class="label-date" translate="common.START_DATE"></p>
            <p class="date" ng-bind="dateModel.start | shortdate" >

              <i class="icon-sort"></i>
            </p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="button">
        <div class="label-container">
          <div class="label-wrapper">
            <p class="label-date" translate="common.END_DATE"></p>
            <p class="date" ng-bind="dateModel.end | shortdate">
              <i class="icon-sort"></i>
            </p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="button button-calculate" ng-click="showResult()">
        <div class="label-container">
          <div class="label-wrapper">
            <p class="label-calculate" translate="calculate.LABEL_BUTTON"></p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
