.content-info{
  background-color: $color_1;

  $padding: 50;
  padding: em($padding);

  $padding-small: 30;
  @include respond-to(small){
    padding: em($padding-small) em(15);
  }

  font-family: $font_1;
  color: $color_3;

  p{
    $font-size: 27;
    $font-size-small: 21;

    line-height: em($font-size + $font-size*.5, $font-size);
    font-size: em($font-size);
    padding-bottom: em($font-size, $font-size);

    @include respond-to(small){
      line-height: em($font-size-small + $font-size-small*.5, $font-size-small);
      font-size: em($font-size-small);
      padding-bottom: em($font-size-small, $font-size-small);
    }

    &:last-child{
      padding-bottom: em(3*$font-size, $font-size);
      @include respond-to(small){
        padding-bottom: em(3*$font-size-small, $font-size-small);
      }
    }


  }

  .btn{
    color: $color_3;
    text-decoration: underline;
    /* state active
    ------------------------------------------------------------ */
    &.ng-click-active{
      color: $color_12;
    }
  }

}