<header class="navbar">
  <a class="icon" ng-click="prev()"><i class="icon-chevron-down"></i></a>
  <h1 class="title" ng-i18next="settings.TITLE"></h1>
</header>
<div class="content content-settings">
  <h2 class="subheadline" ng-i18next="settings.LANGUAGE"></h2>
  <div class="button-wrapper">
    <a href
      class="button"
      ng-click="setGerman()"
      ng-class="isGerman() && 'active'"
      >
      <i class="icon-ok"
         ng-class="isGerman() && 'active'"></i>
       Deutsch</a>
    <a href
      class="button"
      ng-click="setEnglish()"
      ng-class="isEnglish() && 'active'"
      >
      <i class="icon-ok"
         ng-class="isEnglish() && 'active'"></i>
       English</a>
  </div>
</div>
